<form method="post">

    <p>
        <label>Operand 1:</label><br />
        <input type="number" name="operand1" />
    </p>

    <input name="action" type="radio" value="+" />
    <span>+</span> <br />
    <input name="action" type="radio" value="-" />
    <span>-</span> <br />
    <input name="action" type="radio" value="/" />
    <span>*</span> <br />
    <input checked="checked" name="action" type="radio" value="*" />
    <span>/</span>

    <p>
        <label>Operand 2:</label><br />
        <input type="number" name="operand2" />
    </p>

    <p>
        <input type="submit" value="Send" />
    </p>
</form>